# Ignore everything by default
*

# Allow Git to descend into directories
!*/

# Keep this file
!.gitignore

# Config Files

# ZSH 
!zsh/
!zsh/**

# Neovim
!nvim/
!nvim/**

# Starship 
!starship.toml
