# Ignore everything
*

# Allow gitignore
!.gitignore

# Whitelist config folders you want to track
!hypr/
!kitty/
!waybar/
!rofi/
!swaync/
!fastfetch/
!zsh/

# Neovim setups
!nvim/
!AstroNvim/
!LazyVim/
!NvChad/
!NoteVim/
!kickstart/

# (add more here if you want)

